.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--logo {
  background-color: #434242;
  font-weight: bolder;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  transform: translateX(-1px);
}

.nav--text {
  font-weight: 600;
}

.loader {
  color: #b0b0b0;
  height: 2.5rem;
  width: 2.5rem;
}

.rotate-center {
  animation: rotate-center 4s ease-in-out 3s infinite both;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tracking-in-expand {
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
